@import "normalize.css";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: #f0f0f0;
}

.container {
    width: 1336px;
    margin: 0 auto;
}

ul {
    list-style: none;
    text-decoration: none;
}

.span {
    display: inline-block;
}

.span2 {
    composes: span;
    width: 190px;
}

.span8 {
    composes: span;
    width: 770px;
    height: 100%;
}

.span4 {
    composes: span;
    width: 374px;
}

.span5 {
    composes: span;
    width: 480px;
}

.span10 {
    composes: span;
    width: 855px;
}

:global(img) {
    width: 100%;
    height: 100%;
}