.wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;

}

.title {
    font-size: 16px;
    font-weight: 500;
}

.aside {
    width: 200px;
    float: left;
}

.books {
    display: inline-block;
}

.list {
    margin-top: 50px;
}

.list li {
    float: left;
    margin-left: 50px;
    text-align: center;
}

.list img {
   width: 150px;
   height: 200px;
}
