.title {
    width: 100%;
    height: 800px;
    font-size: 0;
    background-image: url('../../assets/images/background.png');
    background-size: contain;
}

header {
    width: 1336px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 61px;
    background-color: #fff;
}