.title {
    composes: span2 from '../common/common.css';
    height: 100%;
    vertical-align: middle;
    border-right: 1px solid #f0f0f0;
}

.blank {
    composes: span8 from '../common/common.css';
    height: 100%;
    vertical-align: middle;
    border-right: 1px solid #f0f0f0;
}

header {
    width: 1336px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 61px;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    z-index: 1000;
}